<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        {% endblock %}
        {% load static %}
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

        <!-- Javascript -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <!-- Customer js -->
        <script src="{% static 'js/base.js' %}"></script>
        {% block extra-JS %}
        {% endblock  %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 60;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand" style="font-size: 25px">测试平台</p>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:void(0)"> 欢迎您，{{ user }}</a></li>
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" style="z-index: 50;">
                    <ul class="nav nav-sidebar">
                        <li id="project"><a href="/manage/project_manage/">项目管理</a></li>
                        <li id="module"><a href="/manage/module_manage/">模块管理</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li id="case"><a href="/interface/case_manage">用例管理</a></li>
                        <li id="task"><a href="/interface/task_manage">任务管理</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li id="MockServer"><a href="">MockServer</a></li>
                        <li id="tool"><a href="">测试工具</a></li>
                    </ul>
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="dialog-confirm-delete" style="display: none;font-size: 14px;">
            <p>确定要删除 "<span id="delete-target"></span>" 吗？</p>
        </div>
        <div id="dialog-tips" style="display: none; font-size: 14px;color:#F00">
        </div>
    </body>
</html>