{% extends "base.html" %}
{% block title %}
    <title>用例管理</title>
{% endblock %}
{% block content %}
    {% if type == "list" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="sub-header">用例列表
                <div style="overflow: hidden; float:right; font-size: 14px">
                    <form style="float: left; margin-right: 10px;" action="/interface/search_case/" method="get">
                        <input style="color: #999;border-radius:3px;border: 1px solid #ccc" type="text" name="keyword" placeholder="用例名称" />
                        <input type="submit" class="btn-success" value="搜索" />
                    </form>
                    <button style="float: right" class="btn-success" onclick="window.location.href='/interface/debug_case/'">调试</button>
                </div>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>模块</th>
                            <th>URL</th>
                            <th>方法</th>
                            <th>Headers</th>
                            <th>参数类型</th>
                            <th>参数</th>
                            <th>断言</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                        <tr>
                            <td>{{ case.name }}</td>
                            <td>{{ case.module }}</td>
                            <td>{{ case.url }}</td>
                            <td>{{ case.request_method }}</td>
                            <td>
                                {% if case.request_headers != "{}"%}
                                    {{ case.request_headers }}
                                {% endif %}
                            </td>
                            <td>{{ case.request_params_type }}</td>
                            <td>
                                {% if case.request_params != "{}" %}
                                    {{ case.request_params }}
                                {% endif %}
                            </td>
                            <td>{{ case.response_assert }}</td>
                            <td>{{ case.create_time | date:"Y-m-d H:i"  }}</td>
                            <td>
                                <a href="/manage/edit_case/{{ case.id }}/">编辑</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" onclick='deleteCase("{{ case.name }}", "{{ case.id }}")'>删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 列表分页器 -->
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if cases.has_previous %}
                            {% if keyword %}
                                <li><a href="?keyword={{ keyword }}&page={{ cases.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li><a href="?page={{ cases.previous_page_number }}">&laquo;</a></li>
                            {% endif %}
                        {% endif %}

                        <li><a href="#">{{ cases.number }}</a></li>

                        {% if cases.has_next %}
                            {% if keyword %}
                                <li><a href="?keyword={{ keyword }}&page={{ cases.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li><a href="?page={{ cases.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="#">共：{{ cases.paginator.num_pages }} 页</a></li>
                    </ul>
                </span>
            </div>
        </div>
    {% endif %}
    {% if type == "debug" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block api_debug %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block extra-JS %}
    {% load static %}
    <script src="{% static 'js/caseManage.js' %}"></script>
{% endblock  %}
