{% extends "base.html" %}
{% block title %}
    <title>模块管理</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" style="z-index: 50;">
                <ul class="nav nav-sidebar">
                    <li><a href="/manage/project_manage/">项目管理</a></li>
                    <li class="active"><a href="javascript:void(0)">模块管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">用例管理</a></li>
                    <li><a href="">任务管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">MockServer</a></li>
                    <li><a href="">测试工具</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">模块列表</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>所属项目</th>
                                <th>名称</th>
                                <th>描述</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for module in modules %}
                            <tr>
                                <td>{{ module.project }}</td>
                                <td>{{ module.name }}</td>
                                <td>{{ module.description }}</td>
                                <td>{{ module.create_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}